.quiz-container {
  background: #f9fafb;
  width: 100%;
  max-width: 500px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  color: #333;
}

.quiz-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.quiz-header h2 {
  font-size: 1.8rem;
  color: #2563eb;
}

.timer {
  background: #2563eb;
  color: #fff;
  padding: 8px 14px;
  border-radius: 10px;
  font-weight: bold;
}

.question-section {
  margin-bottom: 30px;
}

.question-text {
  font-size: 1.2rem;
  margin: 15px 0;
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.option-btn {
  background: #fff;
  border: 2px solid #2563eb;
  padding: 12px;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.option-btn:hover {
  background: #2563eb;
  color: #fff;
}

.option-btn.selected {
  background: #2563eb;
  color: #fff;
}

.quiz-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.nav-btn,
.quit-btn {
  background: #2563eb;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-btn:disabled {
  background: #a5b4fc;
  cursor: not-allowed;
}
.submit-btn{
  display: flex;
  margin: 0 auto;
}
.quit-btn {
  width: 200px;
  margin: 0 auto;
  margin-top: 25px;
  background: #dc2626;
}
.quit-btn:hover {
  background: #b91c1c;
}