.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../../images/2.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.8)
  );
  backdrop-filter: blur(3px);
  z-index: 0;
}

.home-content {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 350px;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.home-content:hover {
  transform: translateY(-5px);
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-bottom: 1rem;
}

.mark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
  background-color: #2563eb;
  color: white;
  font-size: 28px;
  font-weight: bold;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(37, 99, 235, 0.4);
}

.home-content h1 {
  font-size: 1.8rem;
  color: #1e3a8a;
  margin-bottom: 0.5rem;
}

.subtitle {
  font-size: 16px;
  color: #334155;
  margin-bottom: 20px;
  font-weight: 500;
}

button {
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 12px;
  background-color: #2563eb;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #1d4ed8;
}
.form-container {
  background: rgba(255, 255, 255, 0.15);
  padding: 1.5rem;
  border-radius: 15px;
}
