.signup-form {
  width: 300px;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.signup-form input {
  width: 240px;
  margin: 10px;
  padding: 12px 30px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  color: #333;
}

.signup-form input::placeholder {
  color: #333;
}

.signin-btn {
  background: #2563eb;
  color: white;
  padding: 10px 0;
  margin: 5px;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-btn:hover {
  background: #d68910;
}

.switch-text {
  font-size: 14px;
  text-align: center;
}

.switch-text span {
  color: #333;
  cursor: pointer;
}

.switch-text span:hover {
  text-decoration: underline;
}
.error-text {
  color: red;
  font-size: 13px;
  margin-bottom: 8px;
  text-align: center;
}
.error-text {
  color: red;
  font-size: 0.9rem;
  margin-top: 4px;
}
